* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark only;
}

#app {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
}

#products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem;
}

#products li {
	border: 2pt solid yellow;
	width: calc((100% - 4rem) / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}

#products img {
	width: 10rem;
	min-height: 15rem;
	object-fit: cover;
	border-radius: 1rem;
}
